# Object files
*.o

# Static libraries
*.a

# Executables
test_emulator
examples/basic
examples/callbacks
examples/debug
examples/lpc1114

# macOS
.DS_Store

# Visual Studio
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
Debug/
Release/
x64/
